/* Esta clase permite modificar los margenes al body */
.body{
    margin: 0px;
}

/* este es un selector de codigo quita los puntos a las listas desordenadas  y  el padding y margin de los elementos de
 la lista  */

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Esta clase me permite redimensionar el logo */
.logo{
    height: 70px;
}

/*Estas son las caracteristicas del boton estandar */
.button{
    border: 0px;  /* quita los bordes al boton */
    padding: 5px 10px;  /* esto da espacio desde adentro*/
    border-radius: 10px; /*genera la redondes en los bordes del boton*/
    font-weight: bolder; /*cambia el estilo de la fuente */
}

.button:hover{
    cursor: pointer;  /*cambia el cursor*/
    transform: scale(1.1);
}

.mainbutton{
    background-color: darkmagenta;  /* color fondo del boton */
    color: floralwhite; /*color del texto*/    
}

/*  modificador de clase: altera la apariencia del elemento al pasar el mouse*/
.mainbutton:hover{
    box-shadow: 2px 2px rgb(167, 111, 223) ; /* esto nos permite colocarle sombra al boton*/
}

.secondarybutton{
    background-color: rgb(201, 115, 201);  /* color fondo del boton */
    color:black; /*color del texto*/
    }

/*  modificador de clase: altera la apariencia del elemento al pasar el mouse*/
.secondarybutton:hover{
        box-shadow: 2px 2px rgb(124, 37, 211) ; /* esto nos permite colocarle sombra al boton*/
}

/*con este se le da el nuevo borde al elemento buscar*/
.buscar{
    background:white;
    border: 1px solid;  
    padding: 4px;
    border-radius: 8px;
}

/*Esto da efecto en el borde del cuadro de busqueda mas gueso*/
.buscar:focus-within{
    border: 2px solid darkmagenta;
}

/*con esto se le quita el borde al elemento buscar*/
.buscar > input{
    outline: none; 
    border: 0px;
}
