/* Esta clase permite modificar los margenes al body */
.body{
    margin: 0px;
}

/* este es un selector de codigo quita los puntos a las listas desordenadas  y  el padding y margin de los elementos de
 la lista  */

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

/* Esta clase me permite redimensionar el logo */
.logo{
    height: 70px;
}

.mainbutton{
    background-color: darkmagenta;  /* color fondo del boton */
    color: floralwhite; /*color del texto*/
    border: 0px;  /* quita los bordes al boton */
    padding: 5px 10px;  /* esto da espacio desde adentro*/
    border-radius: 10px; /*genera la redondes en los bordes del boton*/
    font-weight: bolder; /*cambia el estilo de la fuente */
    
}
/*  modificador de clase: altera la apariencia del elemento al pasar el mouse*/
.mainbutton:hover{
    cursor: pointer;  /*cambia el cursor*/
    transform: scale(1.1);
    box-shadow: 2px 2px rgb(167, 111, 223) ; /* esto nos permite colocarle sombra al boton*/

}